<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Enter a new note:</h3>
  <div class="form-group">
    <%= form.text_field :text, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit "Add Note", class: 'btn btn-primary' %>
  </div>
<% end %>
