<h1>Notes</h1>

<div class="row">
  <% @notes.each do |note| %>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Note from <%= note.user.email %></h5>
          <p class="card-text"><%= note.text %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>


<%= render 'form', note: @note %>

