<!DOCTYPE html>
<html>
  <head>
    <title>NotesApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">Notes App</a>
      <% if user_signed_in? %>
        <span class="navbar-text">
          Hello, <%= current_user.email %>
        </span>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-outline-success my-2 my-sm-0' %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: 'btn btn-outline-success my-2 my-sm-0' %>
      <% end %>
    </nav>
    <p id="notice"><%= notice %></p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
